header{
    display: flex;
    height: 75px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.pageTitle{
    margin-left: 100px;
}
.nav-ul{
    height: 75px;
    width: 200px;
    margin-right: 100px;
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
}
.nav-ul a{
    margin-right: 20px;
    text-decoration: none;
}
.hrHeaderMain{
    color: grey;
    width: 90%;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.boxTittleDuration{
    width: 90%;
    display: flex;
    background-color: chocolate;
    align-items: baseline;
}
.titleMovie{
    color: blue;
}
.durationMovie{
    margin-left: 20px;
    color: aquamarine;
}
.contentMovie{
    height: 350px;
    width: 90%;
    display: flex;
    background-color: cadetblue;
}
.imageMovie{
    width: 15%;
    background-color: beige;
}
.descriptionMovie{
    width: 70%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: large;
    background-color: blue;
    display: flex;
    flex-direction: column;
}
.synopsisDescription{
    background-color: aqua;
    height: 80%;
}
.boxActorsTags{
    height: 20%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: darkseagreen;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.actorsMovie{
    width: 45%;
    background-color: aqua;
    display: flex;
    
}
.tagsMovie{
    width: 45%;
    background-color: royalblue;
    display: flex;
}




.reviewsMovie{
    width: 15%;
    list-style: none;
}
.reviewsMovie li{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.reviewPage{
    text-decoration: none;
    background-color: aqua;
}
.reviewMeter{
    background-color: bisque;
    width: 100%;
}
.reviewMeter::-webkit-meter-bar{
    background-color:#323232;
}


.hrMainFooter{
    width: 90%;
}
footer{
    text-align: center;
    font-size: xx-small;
    color: dimgrey;
}